<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListEmployees</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.ListEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLocations</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.ListLocations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLocation</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.DeleteLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocation</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.AddLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLocation</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.UpdateLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.UpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.mycompany.tecnaraenterprise.controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListEmployees</servlet-name>
        <url-pattern>/employees/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLocations</servlet-name>
        <url-pattern>/locations/listLocations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLocation</servlet-name>
        <url-pattern>/locations/deleteLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocation</servlet-name>
        <url-pattern>/locations/addLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLocation</servlet-name>
        <url-pattern>/locations/updateLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/employees/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/employees/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/employees/updateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
